<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">

	<ui:define name="content">

		<!-- DashBoard -->
		<p:dashboard model="#{customerDashboradBean.dashboardModel.model}" disabled="false" rendered="true" id="dashboard">

			<!-- Evento a ser disparado ao mover um componente do dashboard -->
			<p:ajax event="reorder" listener="#{dashboradBean.dashboardModel.handleReorder}" />

			<!-- Adicionando a lista de objetos e seus status -->
			<p:panel id="packageList" header="#{bundle[label.package.list]}" toggleable="true">
				<ui:include src="/pages/datalist/dataTablePackages.xhtml" />
			</p:panel>
			
			<!-- Adicionando a agenda dos objetos -->	
			<p:panel id="schedule" header="#{bundle[label.package.schadule]}" toggleable="true">
				<ui:include src="/pages/schedulers/schedulerPackeges.xhtml" />
			</p:panel>

			<!-- Adicionando as estatisticas dos objetos -->
			<p:panel id="graphic" header="#{bundle[label.package.graphic]}" toggleable="true">
				<ui:include src="/pages/charts/chartPackages.xhtml" />
			</p:panel>
			
		</p:dashboard>

	</ui:define>

</ui:composition>
