<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<!-- Importando CSS-->
	<h:outputStylesheet name="default.css" library="css" />

</h:head>

<h:body>

	<h:form>
		<!--Definindo Toolbar (menu) da pagina template -->

		<p:toolbar>
		    <f:facet name = "left">
		        <p:commandButton  value = "#{bundle['label.dashboard']}" icon = "ui-icon-calculator"/>
		        
		        <p:menuButton value="#{bundle['label.package.load']}">
	                <p:menuitem value="#{bundle['label.package.load.bynumber']}" actionListener="#"  icon="ui-icon-pencil" />
	                <p:menuitem value="#{bundle['label.package.load.byfile']}"   actionListener="#"  icon="ui-icon-document" />
            	</p:menuButton>
		        
		        <p:menuButton value="#{bundle['label.report']}" >
	                <p:menuitem value="#{bundle['label.report.package']}" actionListener="#"  icon="ui-icon-document-b" />
<!-- 	            <p:menuitem value="#{bundle[label.report]}" actionListener="#" icon="ui-icon-document-b" />
	                <p:menuitem value="#{bundle[label.report]}" actionListener="#" icon="ui-icon-document-b" />
	                <p:menuitem value="#{bundle[label.report]}" actionListener="#" icon="ui-icon-document-b" /> -->
            	</p:menuButton>
		        
		    </f:facet>
		    
		    <f:facet name = "right">
		        <p:commandButton value="#{bundle['label.logout']}" icon = "ui-icon-power" onclick = "window.open('PMM-web/logout','_self')" style = "color:red"/>
		    </f:facet>
		    
		</p:toolbar>

		<!-- Definindo um ui:insert, a pagina que tiver <ui:define name="content"> 
           	     terá seu conteúdo adicionado em template.xhtml -->
		<div class="content" id="content">
			<ui:insert name="content" />
		</div>

	</h:form>


	<div class="footer">
		<p:outputLabel value="#{bundle['label.user']}: #{customerDashboradBean.customer}" styleClass="footer_customer" />
		<p:outputLabel value="Semaviz3 ®" styleClass="footer_semavize" />
	</div>
</h:body>

</html>
