body {
	font-size: 10pt;
}

h3 {
	font-size: 11pt;
}

a:link {
	text-decoration: none;
}

.menu {
	width: 190px;
	position: absolute;
}

.logout{
	float:right !important;
	position: static;
	right:10px;
	float: right;
}

.footer {
	left: 0px;
	width: 100%;
	height: 30px;
	color: black;
	position: fixed;
	bottom: 0;
	background-color: #FAFAFA;
	background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	background-repeat: repeat-x;
	border: 1px solid #D4D4D4;
}

.footer_semavize{
	float:right;
	margin-right: 10px;
	margin-top: 5px;
}

.footer_customer{
	float:left;
	margin-left: 5px;
	margin-top: 5px;
}

.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.ui-panel,div.ui-state-hover {
	margin: 10px !important;
	min-width: 1px !important;
	min-height: 1px !important;
}

.ui-dashboard-column {
	min-width: 220px !important;
}

.ui-widget-overlay {
    background: none repeat scroll 0 0 #000000 !important;
    opacity: 0.3 !important;
}