<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:form>
  
 
    <h:panelGrid columns="2" columnClasses="left,right" style="width:100%">
        <p:chart type="pie" model="#{customerDashboradBean.chartModel.pieModel1}" style="width:400px;height:300px">
            <p:ajax event="itemSelect" listener="#{chartBean.itemSelect}" immediate="true"/>
        </p:chart>
    </h:panelGrid>
 
</h:form>
</html>
