<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<body>

<h:form id="form" >
    
    			<p:dataTable value="#{customerDashboradBean.dataTablePkgModel}"
    			
				var="dataTablePkg" emptyMessage="" id="dataTablePkg"
				paginator="true" rows="10" paginatorPosition="bottom"
				paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,25" selectionMode="single" style="width:500px;heigth:500px">

				<p:ajax event="rowSelect" listener="#{customerDashboradBean.dataTablePkgModel.onRowSelect}" oncomplete="PF('dialogPckage').show()" update=":j_idt6:dialogPckage"/>

				<p:column sortBy="#{dataTablePkg.nomeDestinatario}"
					headerText="Destinatário">
					<h:outputText value="#{dataTablePkg.nomeDestinatario}" />
				</p:column>

				<p:column sortBy="#{dataTablePkg.cepDestino}"
					headerText="CEP Destino">
					<h:outputText value="#{dataTablePkg.cepDestino}"/>
				</p:column>
				
				<p:column sortBy="#{dataTablePkg.cepDeOrigem}"
					headerText="CEP Origem">
					<h:outputText value="#{dataTablePkg.cepDeOrigem}"/>
				</p:column>
				
				<p:column sortBy="#{dataTablePkg.situacaoAtual}"
					headerText="Situação Atual">
					<h:outputText value="#{dataTablePkg.situacaoAtual}"/>
				</p:column>
				

				
			</p:dataTable>
			

    
    
    
     
    
 
</h:form>
          
<p:dialog header="Informação do Pacote" widgetVar="dialogPckage" modal="true" height="100" id="dialogPckage">

      
   
      	<p:outputLabel value="#{customerDashboradBean.dataTablePkgModel.pkg}"></p:outputLabel>

      
</p:dialog> 

</body>
</html>
